<p>blog works!</p>

<h1>Blog list</h1>

<form [formGroup]="form" (ngSubmit)="addBlog()">
  <label for="title">title</label>
  <input type="text" name="" id="" formControlName="title" />
  <label for="description">description</label>
  <input type="text" name="" id="" formControlName="description" />
  <button type="submit">submit</button>
</form>

<div *ngFor="let b of blogInfo?.blogList">
  <h2>{{ b.id }} - {{ b.title }}</h2>
  <p>{{ b.description }}</p>
  <button (click)="updateBlog(b)">edit</button>
  <button (click)="deleteBlog(b.id)">delete</button>
</div>

<h1 style="color: red">{{ errMsg }}</h1>
