<p>counter-button!</p>

<button (click)="onIncrement()">increment</button>
<button (click)="onDecrement()">decrement</button>
<button (click)="onReset()">reset</button>
<button (click)="onChangeName()">change name</button>
